<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Website testing" verbose="1" >
  <test thread-count="1" name="Regression Test" >
    <classes>
      <class name="com.sntf.steps.Product_Purchase"/>
      <class name="com.sntf.steps.Frontloginsteps"/>
      <class name="com.sntf.steps.DatabaseTesting"/>
     </classes>
 </test>
</suite>